<div flex layout-padding ng-init = "vm.init()">
    <div layout = "column">
        <label>Cadastrar evento</label>
    </div>

    <md-divider></md-divider>

    <div flex = "80" flex-offset = "10" layout-align = "center center">
        <form name = "vm.newEventForm">
            <!-- Input de Descrição -->
            <div layout = "row">
                <md-input-container flex>
                    <label>Descrição</label>

                    <input type = "text" ng-model="vm.newEvent.descricao">
                </md-input-container>
            </div>

            <!-- Input de data -->
            <div layout = "row">
                <md-input-container flex>
                    <label>Data</label>

                    <md-datepicker ng-model="ctrl.myDate" md-placeholder="Data do Evento"></md-datepicker>
                </md-input-container>
            </div>

            <!-- Input de Valor -->
            <div layout = "row">
                <md-input-container flex>
                    <label>Valor</label>

                    <input type = "tel" ng-model="vm.newUser.valor" ui-money-mask>
                </md-input-container>
            </div>

            <md-list class="md-dense" flex>
                <!-- <md-list-item class = "md-3-line" ng-repeat="contato in vm.availableContacts">
                    <p>{{contato}}</p>
                </md-list-item> -->
            </md-list>

            <div layout = "row">
                <!-- Botão de Adicionar Amigos -->
                <md-button class="md-primary md-raised" ng-click = "vm.openModal($event)" flex>Adicionar amigos</md-button>
            </div>

            <!-- Botões -->
            <div layout = "row">
                <!-- Botão de Cancelar -->
                <md-button class="md-warn" ng-click = "vm.cancel()" flex>Cancelar</md-button>
                <!-- Botão de Cadastrar -->
                <md-button class="md-primary" ng-click = "vm.signUp()" flex>Cadastrar</md-button>
            </div>
        </form>
    </div>
</div>
