<md-content flex md-swipe-left = "vm.goToEventos()" layout-padding>
    <!-- Informações Gerais do Usuário -->
    <div layout = "column">
        <label>Saldo Total</label>
        <label style = "color : #9ED230; font-size : 18px;">R$ 1.000,00</label>
        <md-button class="md-icon-button" aria-label="Confirmar">
            <md-icon>
                <i class="material-icons">swap_vert</i>
            </md-icon>
        </md-button>
        <label flex></label>
    </div>

    <md-divider></md-divider>

    <!-- Lista de Últimos Eventos -->
    <div layout = "column">
        <md-subheader class="md-no-sticky" ng-if = "!vm.eventsList.length">Nenhum evento recente</md-subheader>

        <md-list class="md-dense" flex>
            <md-list-item class = "md-3-line" ng-repeat="evento in vm.eventsList">
                <md-icon>
                    <i class="material-icons">today</i>
                </md-icon>

                <div class="md-list-item-text" layout="column">
                    <h3>{{evento.descricao}}</h3>
                    <h4>{{evento.data | date : 'dd/MM/yyyy'}}</h4>
                </div>
            </md-list-item>
        </md-list>
    </div>

    <!-- Botão de Ações -->
    <md-button class = "md-fab" style = "position : fixed; bottom : 15px; right : 25px; background-color : #770546;" class="md-fling" ng-click = "vm.goToNewEvent()">
        <md-icon><i class="material-icons">insert_invitation</i></md-icon>
    </md-button>
</md-content>
